<div class="row">
    <div class="col-md-6 offset-3">
        <div class="list-group">
            <%= link_to "#{person.username}", user_path(person.username), class: "list-group-item list-group-item-action no-underline" %>
        </div>
    </div>
</div>
